---
import Welcome from "../components/Welcome.astro"
import Layout from "../layouts/Layout.astro"

export const prerender = false
import { sanityClient } from "sanity:client"
const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug)]`)

console.log(posts)

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<main>
		<h1>Welcome to Astro</h1>
		<p>
			You're looking at a new Astro project! This page is built with Astro's own component model, and you can use any
			framework or library you like to build your site.
		</p>
		<p>
			To get started, check out the{" "}
			<a href="https://docs.astro.build">Astro documentation</a> or the{" "}
			<a href=""></a>
		</p>
	</main>
	<ul>
		{
			posts.map(post => (
				<li>
					<a href={`/posts/${post.slug.current}`}>{post.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
